# GOTI Design System

## Ignore patterns
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-*

# OS
desktop.ini
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
*.min.js
*.min.css

# Temporary
tmp/
temp/
*.tmp

# Template for AL projects for Dynamics 365 Business Central (from remote template)
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
